# Banco
DATABASE_URL=

DB_HOST=localhost
DB_PORT=5432
DB_NAME=mardri
DB_USER=postgres
DB_PASSWORD=COLOQUE_A_SENHA_AQUI


# JWT
JWT_SECRET_KEY=COLOQUE_UMA_CHAVE_FORTE_AQUI


# Frontend autorizado pelo CORS
FRONTEND_URL=http://localhost:5173


# Flask
FLASK_DEBUG=false
HOST=0.0.0.0
PORT=5000