# =========================
# Python
# =========================

.venv/
__pycache__/
*.py[cod]
*$py.class

# =========================
# Variáveis de ambiente
# =========================

.env

# =========================
# Flask
# =========================

instance/
*.log

# =========================
# React / Node
# =========================

frontend/node_modules/
frontend/dist/

# =========================
# VS Code
# =========================

.vscode/

# =========================
# Sistema operacional
# =========================

.DS_Store
Thumbs.db